@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: "Ubuntu Mono", monospace;
}

.navigation {
  background-color: #fff;
  width: 80px;
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.navigation.active {
  width: 400px;
}

/* Navigation Toggle Menu Design */

.menu_toggle {
  position: relative;
  width: 80px;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0 0;
}

.menu_toggle::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #333;
  transition: 0.5s;
  transform: translateY(-10px);
}

.menu_toggle::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #333;
  transition: 0.5s;
  transform: translateY(10px);
  box-shadow: 0 -10px #333;
}

.navigation.active .menu_toggle::before {
  transform: translateY(0px) rotate(45deg);
}

.navigation.active .menu_toggle::after {
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 #333;
}

/* Navigation Profile Design */

.navigation .profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}
.navigation .profile .img_box {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 50%;
}

.navigation.active .profile .img_box {
  width: 200px;
  height: 200px;
}

.navigation .profile .img_box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* Navigation Menu */
.navigation .menu {
  position: relative;
  width: 100%;
  padding: 10px;
  transition: 0.5s;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navigation.active .menu {
  padding: 10px 20px;
}

.navigation .menu li {
  list-style: none;
}

.navigation .menu li a {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #111;
  border-radius: 10px;
  transition: 0.3s;
}

.navigation .menu li a:hover {
  background-color: #0084ff;
  color: #fff;
}

.navigation .menu li a:hover::before {
  position: absolute;
  content: attr(data-tooltip);
  background-color: red;
  left: 100%;
  top: 0;
  padding: 10px;
}

.navigation .menu li a .icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.navigation .menu li a .text {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  margin-left: 10px;
}
