@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
  font-family: "Ubuntu Mono", monospace;
  gap: 40px;
}

.navigation {
  background-color: #fff;
  width: 80px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
          box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  /* Navigation Toggle Menu Design */
  /* Navigation Profile Design */
  /* Navigation Menu */
}

.navigation.active {
  width: 400px;
}

.navigation.active .menu_toggle::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

.navigation.active .menu_toggle::after {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
  -webkit-box-shadow: 0 0 #333;
          box-shadow: 0 0 #333;
}

.navigation.active .profile .img_box {
  width: 200px;
  height: 200px;
}

.navigation.active .menu {
  padding: 10px 20px;
}

.navigation .menu_toggle {
  position: relative;
  width: 80px;
  height: 70px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0 0;
}

.navigation .menu_toggle::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navigation .menu_toggle::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0 -10px #333;
          box-shadow: 0 -10px #333;
}

.navigation .profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}

.navigation .profile .img_box {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.navigation .profile .img_box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.navigation .menu {
  position: relative;
  width: 100%;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navigation .menu li {
  list-style: none;
}

.navigation .menu li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #111;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation .menu li a .icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
}

.navigation .menu li a .text {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25em;
  margin-left: 10px;
}

.navigation .menu li a:hover {
  background-color: #0084ff;
  color: #fff;
}

/* .navigation .menu li a:hover::before {
  position: absolute;
  content: attr(data-tooltip);
  background-color: red;
  left: 100%;
  top: 0;
  padding: 10px;
} */
.dots_navigation {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #212532;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.dots_navigation span {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
          transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
  -webkit-transition: width 0.5s, height 0.5s, background 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s, background 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: calc(0.1s * var(--i));
          transition-delay: calc(0.1s * var(--i));
}

.dots_navigation span ion-icon {
  font-size: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dots_navigation.active {
  width: 200px;
  height: 200px;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.dots_navigation.active span {
  width: 45px;
  height: 45px;
  background: #333849;
  -webkit-transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
          transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.dots_navigation.active span ion-icon {
  font-size: 1.35em;
  color: #fff;
}

.dots_navigation.active span:hover ion-icon {
  color: #2dfc52;
  -webkit-filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
          filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}

.circular_menu {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circular_menu .toggle {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  color: #222327;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.circular_menu .toggle.active {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-box-shadow: 0 0 0 68px #fff;
          box-shadow: 0 0 0 68px #fff;
  background: #222327;
  color: #fff;
}

.circular_menu li {
  list-style: none;
  position: absolute;
  left: 10px;
  -webkit-transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
          transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
  -webkit-transform-origin: 140px;
          transform-origin: 140px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.circular_menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 1.75em;
  color: #222327;
  -webkit-transform: rotate(calc(360deg / 8 * var(--i)));
          transform: rotate(calc(360deg / 8 * var(--i)));
  border-radius: 50%;
}

.circular_menu li:nth-child(2).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(0deg);
          transform: translateX(-103px) rotate(0deg);
}

.circular_menu li:nth-child(3).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(45deg);
          transform: translateX(-103px) rotate(45deg);
}

.circular_menu li:nth-child(4).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(90deg);
          transform: translateX(-103px) rotate(90deg);
}

.circular_menu li:nth-child(5).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(135deg);
          transform: translateX(-103px) rotate(135deg);
}

.circular_menu li:nth-child(6).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(180deg);
          transform: translateX(-103px) rotate(180deg);
}

.circular_menu li:nth-child(7).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(225deg);
          transform: translateX(-103px) rotate(225deg);
}

.circular_menu li:nth-child(8).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(270deg);
          transform: translateX(-103px) rotate(270deg);
}

.circular_menu li:nth-child(9).active ~ .indicator {
  -webkit-transform: translateX(-103px) rotate(315deg);
          transform: translateX(-103px) rotate(315deg);
}

.circular_menu.active li {
  visibility: visible;
  opacity: 1;
}

.circular_menu.active li.active {
  -webkit-transform: rotate(calc(360deg / 8 * var(--i))) translateX(12px);
          transform: rotate(calc(360deg / 8 * var(--i))) translateX(12px);
}

.circular_menu.active .indicator::before {
  opacity: 1;
  top: -27.5px;
  left: -27.5px;
  background: #2dfc52;
  -webkit-box-shadow: 0 0 0 6px #222327;
          box-shadow: 0 0 0 6px #222327;
}

.circular_menu .indicator {
  position: absolute;
  left: calc(50% + 2.5px);
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100px;
  height: 1px;
  background: transparent;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.circular_menu .indicator::before {
  content: "";
  position: absolute;
  top: -27.5px;
  left: 72px;
  width: 55px;
  height: 55px;
  background: #222327;
  -webkit-box-shadow: 0 0 0 6px #2dfc52;
          box-shadow: 0 0 0 6px #2dfc52;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=index.css.map */